<p-card *ngIf="vehicle" header="Vehicle Details">
  <p-galleria
    [value]="images"
    [responsiveOptions]="responsiveOptions"
    [containerStyle]="{ 'max-width': '640px', margin: 'auto' }"
    [numVisible]="3"
    [showThumbnails]="true"
    [showItemNavigators]="true"
    [circular]="true"
    [autoPlay]="true"
    [transitionInterval]="3000"
  >
    <ng-template pTemplate="item" let-item>
      <img
        [src]="item.previewImageSrc"
        alt="{{ item.alt }}"
        width="640"
        height="400"
        style="object-fit: contain"
        loading="lazy"
      />
    </ng-template>

    <ng-template pTemplate="thumbnail" let-item>
      <img
        [src]="item.thumbnailImageSrc"
        alt="{{ item.alt }}"
        style="width: 100px; height: 60px; object-fit: cover"
        loading="lazy"
      />
    </ng-template>
  </p-galleria>
  <p-divider></p-divider>
  <h1>{{ vehicle.make }} {{ vehicle.model }}</h1>
  <div class="icon-div">
    <div class="icon-item">
      <i class="pi pi-wrench" style="font-size: 2rem"></i>
      <span>Engine Size</span>
      {{ vehicle.engineSize }}
    </div>
    <div class="icon-item">
      <i class="pi pi-calendar" style="font-size: 2rem"></i>
      <span>Year</span>
      {{ vehicle.year }}
    </div>
    <div class="icon-item">
      <i class="pi pi-gauge" style="font-size: 2rem"></i>
      <span>Mileage </span>
      <span>{{ vehicle.mileage }} Km</span>
    </div>
    <div class="icon-item">
      <i class="pi pi-euro" style="font-size: 2rem"></i>
      <span>Starting Bid </span>
      <span>{{ vehicle.startingBid }}</span>
    </div>
  </div>
  <p-divider></p-divider>
  <p-accordion>
    <p-accordion-panel value="0">
      <p-accordion-header>Specifications</p-accordion-header>
      <p-accordion-content>
        <div class="specification-div">
          <span class="title-span">Vehicle Type</span>
          <span>{{ vehicle.details.specification.vehicleType }}</span>
        </div>
        <div class="specification-div">
          <span class="title-span">Colour</span>
          <span>{{ vehicle.details.specification.colour }}</span>
        </div>
        <div class="specification-div">
          <span class="title-span">Fuel</span>
          <span>{{ vehicle.details.specification.fuel }}</span>
        </div>
        <div class="specification-div">
          <span class="title-span">Transmission</span>
          <span>{{ vehicle.details.specification.transmission }}</span>
        </div>
        <div class="specification-div">
          <span class="title-span">Number of Doors</span>
          <span>{{ vehicle.details.specification.numberOfDoors }}</span>
        </div>
        <div class="specification-div">
          <span class="title-span">CO2 Emissions</span>
          <span>{{ vehicle.details.specification.co2Emissions }}</span>
        </div>
        <div class="specification-div">
          <span class="title-span">NOX Emissions</span>
          <span>{{ vehicle.details.specification.noxEmissions }}</span>
        </div>
        <div class="specification-div">
          <span class="title-span">Number Of Keys</span>
          <span>{{ vehicle.details.specification.numberOfKeys }}</span>
        </div>
      </p-accordion-content>
    </p-accordion-panel>
    <p-accordion-panel value="1">
      <p-accordion-header>Ownership</p-accordion-header>
      <p-accordion-content>
        <div class="icon-div">
          <div class="icon-item">
            <i class="pi pi-user" style="font-size: 2rem"></i>
            <span>Number of Owners</span>
            {{ vehicle.details.ownership.numberOfOwners }}
          </div>
          <div class="icon-item">
            <i class="pi pi-book" style="font-size: 2rem"></i>
            <span>Log Book</span>
            {{ vehicle.details.ownership.logBook }}
          </div>
          <div class="icon-item">
            <i class="pi pi-calendar" style="font-size: 2rem"></i>
            <span>Date of Registration </span>
            <span>{{ vehicle.details.ownership.dateOfRegistration }}</span>
          </div>
        </div>
      </p-accordion-content>
    </p-accordion-panel>
    <p-accordion-panel value="2">
      <p-accordion-header>Equipment</p-accordion-header>
      <p-accordion-content>
        <ul>
          <li
            *ngFor="let item of vehicle.details.equipment"
            style="margin-bottom: 2%"
          >
            {{ item }}
          </li>
        </ul>
      </p-accordion-content>
    </p-accordion-panel>
  </p-accordion>
</p-card>
<p-card *ngIf="vehicle === undefined"> Error loading details page </p-card>
