<p-dataview
  [value]="vehicleService.vehicles()"
  [rows]="5"
  [paginator]="true"
  showCurrentPageReport="true"
  [rowsPerPageOptions]="rowsOptions"
>
  <ng-template #header>
    <p-button
      icon="pi pi-filter"
      label="Filters and Sorting"
      (onClick)="showFilters = true"
    />
  </ng-template>
  <ng-template #list let-vehicles>
    @for (vehicle of vehicles; track vehicle.id) {
    <div
      class="flex justify-content-between align-items-center m-2 p-2 border-bottom-1 border-gray-500"
    >
      <img
        class="border-round object-cover"
        src="assets/blue_car.webp"
        width="200"
      />
      <div class="flex flex-column justify-content-around">
        <span style="font-weight: bolder"
          >{{ vehicle.make }} {{ vehicle.model }}</span
        >
        <span> {{ formatNumberToSpecificLocale(vehicle.mileage) }} Km</span>
        <span
          >Starting Bid:
          {{ formatNumberToSpecificLocale(vehicle.startingBid) }} €</span
        >
      </div>
      <div class="flex flex-column justify-content-around">
        <span
          ><span style="font-weight: bolder">Auction Date: </span
          >{{ vehicle.auctionDateTime }}</span
        >
        <span
          ><span style="font-weight: bolder">Time until Auction Date: </span>
          {{ getTimeUntilAuction(vehicle.auctionDateTime) }}</span
        >
      </div>
      <div class="flex flex-row gap-5">
        <p-button
          icon="
                  {{ vehicle.favourite ? 'pi pi-heart-fill' : 'pi pi-heart' }}
                "
          (click)="toggleFavourite(vehicle.id)"
        ></p-button>
        <p-button
          icon="pi pi-search-plus"
          label="More Details"
          [routerLink]="['/vehicle', vehicle.id]"
        />
      </div>
    </div>
    }
  </ng-template>
</p-dataview>
<p-drawer [(visible)]="showFilters" header="Filters and Sorting">
  <div class="flex flex-column gap-4">
    <p-multiselect
      [options]="this.vehicleService.getUniqueMakes()"
      [(ngModel)]="selectedMake"
      placeholder="Select Make"
      [maxSelectedLabels]="3"
      (onChange)="onChangeMake()"
    />
    <p-multiselect
      [options]="modelList"
      [(ngModel)]="selectedModel"
      placeholder="Select Model"
      [maxSelectedLabels]="3"
      [disabled]="!selectedMake || selectedMake.length === 0"
    />
    <p-selectbutton
      [options]="stateOptions"
      [(ngModel)]="value"
      optionLabel="label"
      optionValue="value"
      aria-labelledby="basic"
    />
    <span>Starting Bid Range</span>
    <p-slider
      [(ngModel)]="rangeValues"
      [step]="1000"
      max="50000"
      min="5000"
      [range]="true"
    />
    <div class="flex justify-content-between mt-1 font-bold">
      <span>{{ rangeValues[0] }} €</span>
      <span>{{ rangeValues[1] }} €</span>
    </div>
    <p-select
      [options]="sortOptions"
      [(ngModel)]="selectedSort"
      optionLabel="label"
      placeholder="Sort Vehicles"
    />
  </div>
  <ng-template #footer>
    <div class="flex flex-row gap-2">
      <p-button
        icon="pi pi-search"
        label="Show Vehicles"
        [raised]="true"
        variant="outlined"
        size="small"
        (click)="updateVehicles()"
      />
      <p-button
        icon="pi pi-times"
        label="Clear Filters"
        severity="secondary"
        size="small"
        variant="text"
        (click)="clearFilters()"
      ></p-button>
    </div>
  </ng-template>
</p-drawer>
