<div *ngIf="vehicles$ | async as vehicles">
  <p-table [value]="vehicles">
    <ng-template pTemplate="header">
      <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Year</th>
        <th>Mileage</th>
        <th>Starting Bid</th>
        <th>Auction</th>
        <th>Favourite</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-vehicle>
      <tr>
        <td>{{ vehicle.make }}</td>
        <td>{{ vehicle.model }}</td>
        <td>{{ vehicle.year }}</td>
        <td>{{ vehicle.mileage }}</td>
        <td>{{ vehicle.startingBid }}</td>
        <td>{{ getTimeUntilAuction(vehicle.auctionDateTime) }}</td>
        <td>
          <button
            pButton
            icon="pi pi-star"
            [class.text-yellow-500]="vehicle.favourite"
            (click)="toggleFavourite(vehicle.id)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
