.buttons-div {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.rounded-image {
  border-radius: 10%;
  object-fit: cover;
}

.vehicle-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1%;
  padding: 1%;
  border-bottom: 1px solid grey;
}

.vehicle-information {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.filters-div {
  display: flex;
  flex-direction: row;
  gap: 2%;
}

.filters-drawer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.slider-labels {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  font-weight: bold;
}

.buttons-footer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
